html,body{
    width: 50%;
    margin: 0 auto; 
    font-family: Garamond, serif;
}
html{
    background-image: url(3d-render-abstract-music-background-with-space-your-text-banner-flyer-poster-3d-illustration-design.jpg);
    height: 100%;
    min-width: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    
}

#title{
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-shadow: 4px 3px 0px #545548;
}

img{
    border-radius: 50%;
}

.artistCont{
    float: left;
    width: 40%;
    padding: 10px;
    
}
#artist::after{
    content: "";
    clear: both;
    display:table;
      
}

@media screen and (max-width: 500px) {
    .html {
      width: 100%;
    }
  }

p{
    font-size: 40px;
    text-align: center ;
    color: rgb(255, 255, 255); 
    text-shadow: 4px 3px 0px #545548;
    
}

#artistPct{
    position:fixed;
    top:10%;
    left:5%;
    width:15%;
    
}

#h1Pct{
    position: fixed;
    top:40%;
    left:9%;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #4438ee, 0 0 30px #eeeb38, 0 0 40px #4438ee, 0 0 55px #4438ee, 0 0 75px #4438ee, 2px -15px 8px rgba(255,244,70,0);
    color: #020101;
    
}

#inputfield{
    border: 3px solid black;
    background-color: rgb(247, 242, 197); 
    width: 70%;
    height: 40px;
}

placeholder{
    color: black;
}

#searchBtn{
    background-color: rgb(199, 196, 28);
    border: 3px solid black;
    width: 20%;
    height: 48px;
}

